.email{
    padding: 5px;
    
}
.phone{
    padding: 5px;
    /* justify-content: space-between; */
}
.link{
    padding: 5px;
    /* justify-content: space-between; */
}
.footer{
    margin-top: 16px;
    padding: 16px;
    margin: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
}