.hero{
    height: 100%;
    width: 100%;
    /* margin-top: 40px; */
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
.hero .content{
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    top: 50%;
    left: 40%;
    right: 0;
    text-align:justify;
    background: transparent;
}
.hero .content p{
    font-family: 'Nunito','sans-serif';
    background: transparent;
    line-height: 1.7rem;
}
.name{
    font-weight: bold;
    color: aqua;
    font-size:3rem;
    display: inline-block;
    font-family: 'Lato','sans-serif' !important;
}
.mask{
    height:100vh;
    width:100%;
    background-position: right;
    position: relative;
    display: inline-box;
}
.first{

    background: transparent;
    position: relative;
    /* padding-right: 50px; */
}
.me{
    float: right;
    background: transparent;
    /* height: 40%; */
    width:250px;
    /* position: relative; */
    /* display: flex; */
    padding-left: 50px;
}
.img{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    top: 0;
    position: relative;
}
.mask::after{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.81;
}

