.tec{
    margin: 16px;
    /* width: 100%; */
    display:flex;
    /* justify-content:; */
    flex-wrap: wrap;
    flex-direction: row;
}
.third{
    margin: 0 60px 0 60px;
    
}
.third h2{
    margin-left: 50px;
}
